@import './base.css';

#app {
  width: 100%;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.Trivial {
  background-color: grey;
}

.Easy {
  background-color: #00c797;
}

.Medium {
  background-color: #f5a623;
}

.Hard {
  background-color: #d54f4f;
}

.Deadly {
  background-color: black;
}

.text-Trivial {
  color: rgb(128, 128, 128);
}

.text-Easy {
  color: #00c797;
}

.text-Medium {
  color: #f5a623;
}

.text-Hard {
  color: #d54f4f;
}

.text-Deadly {
  color: black;
}

.shadowbox-Trivial {
  -webkit-box-shadow: 1px -1px 7px 2px rgb(128, 128, 128);
  -moz-box-shadow: 1px -1px 7px 2px rgb(128, 128, 128);
  box-shadow: 1px -1px 7px 2px rgb(128, 128, 128);
}

.shadowbox-Easy {
  -webkit-box-shadow: 1px -1px 7px 2px #00c797;
  -moz-box-shadow: 1px -1px 7px 2px #00c797;
  box-shadow: 1px -1px 7px 2px #00c797;
}

.shadowbox-Medium {
  -webkit-box-shadow: 1px -1px 7px 2px #f5a623;
  -moz-box-shadow: 1px -1px 7px 2px #f5a623;
  box-shadow: 1px -1px 7px 2px #f5a623;
}

.shadowbox-Hard {
  -webkit-box-shadow: 1px -1px 7px 2px #d54f4f;
  -moz-box-shadow: 1px -1px 7px 2px #d54f4f;
  box-shadow: 1px -1px 7px 2px #d54f4f;
}

.shadowbox-Deadly {
  -webkit-box-shadow: 1px -1px 7px 2px #000000;
  -moz-box-shadow: 1px -1px 7px 2px #000000;
  box-shadow: 1px -1px 7px 2px #000000;
}

.button {
  border-radius: 5px;
  border: solid #8f8f8f 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-icon {
  width: 32px;
  height: 32px;
}

.button-icon:hover {
  background-color: rgba(71, 148, 235, 0.25);
}

.button svg {
  width: 24px;
  height: 24px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
  }
}
